---
import SocialButton from "./SocialButton.astro"

import BookIcon from "../icons/Book.astro"
import RocketIcon from "../icons/Rocket.astro"

const PROJECTS = [
    {
        title: "Cleaning Schedule",
        description: "App web para gestionar el horario de limpieza de un piso compartido. Creado desde cero con HTML, CSS y JavaScript. Inspirado en la interfaz y temáticas de shadcn/ui.",
        link: "https://cleaning-schedule.vercel.app",
        github: "https://github.com/picuu/cleaning-schedule",
        image: "/projects/cleaning-schedule.webp",
        tags: ["HTML", "CSS", "JavaScript"]
    },
    {
        title: "ITBFlix",
        description: "Plataforma web inspirada en Netflix. Proyecto para el módulo de Lenguajes de Marcas del CFGS de Desarrollo de Aplicaciones Web. Creado con HTML y CSS.",
        link: "https://itbflix.vercel.app",
        github: "https://github.com/picuu/itbflix",
        image: "/projects/itbflix.webp",
        tags: ["HTML", "CSS"]
    }
]
---
<div class="repositories-container">
    {
        PROJECTS.map(({ title, description, link, github, image, tags}) => (
            <article class="repository">
                {
                    image && <img src={image} alt={`Captura de pantalla del proyecto ${title}`} />
                }

                <h3 class="title">
                    <BookIcon width="18" height="18" />
                    <a href={github} target="_blank" rel="noopener">
                        {title.toLowerCase().replace(/\s/g, "-")}
                    </a>
                </h3>
                <p class="description">{description}</p>
                <ul class="tag-list">
                    {tags.map(tag => (
                        <li>
                            <span class="tag" data-tag-name={tag}>
                                {tag}
                            </span>
                        </li>
                        ))
                    }
                </ul>                

                <div class="buttons">
                    <SocialButton href={link}>
                        <RocketIcon width="20" height="20" fill="#bbb" />
                        <span>Web</span>
                    </SocialButton>
                </div>
            </article>
        ))
    }
</div>

<style>
    .repositories-container {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    .repository {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-radius: .5rem;
        background: #15171e;
        border: 1px solid #1e2129;
        padding: 1rem 1rem 1.5rem 1rem;
    }

    .title {
        display: flex;
        align-items: center;
        gap: .35rem;
        margin-bottom: .5rem;
        font-weight: 600;
    }

    .title a {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 100ms ease-in-out;
    }

    .title a:hover {
        text-decoration-color: currentColor;
    }

    .description {
        margin-bottom: 1rem;
        font-size: var(--fs-200);
        opacity: .8;
    }

    .tag-list {
        display: flex;
        gap: 1.3rem;
        list-style: none;
    }

    .tag {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: calc(var(--fs-200) - .1em)
    }

    .tag::before {
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 100vw;
        background-color: #eee;
    }

    .tag[data-tag-name="HTML"]::before {
        background-color: #ee8059;
    }

    .tag[data-tag-name="CSS"]::before {
        background-color: #598aee;
    }

    .tag[data-tag-name="JavaScript"]::before {
        background-color: #eee459;
    }

    .tag[data-tag-name="Next.js"]::before {
        background-color: #ddd;
    }

    .tag[data-tag-name="Tailwind CSS"]::before {
        background-color: #0bacc9;
    }

    .tag[data-tag-name="React"]::before {
        background-color: #56d1f3;
    }

    img {
        margin-bottom: .75rem;
        border-radius: .25rem;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }

    .buttons span {
        color: #bbb;
    }

    @media (width < 584px) {
        .tag-list {
            margin-bottom: .5rem;
        }
    }
</style>