---
import SocialButton from "@/components/SocialButton.astro"
import WorldIcon from "@/icons/World.astro"
import BookIcon from "@/icons/Book.astro"
import { PROJECTS } from "@/data/Projects.js"
---
<div class="repositories-container">
    {
        PROJECTS.map(({ title, description, link, github, image, tags}, index) => (
            <article class="repository" id={`repo${index+1}`}>
                {
                    image &&
                    <a href={link} target="_blank" rel="noopener">
                        <img loading="lazy" src={image} alt={`Captura de pantalla del proyecto ${title}`} />
                    </a>
                }

                <h3 class="title">
                    <BookIcon size="18" />
                    <a href={github} target="_blank" rel="noopener">
                        {title.toLowerCase().replace(/\s/g, "-")}
                    </a>
                </h3>
                <p class="description">{description}</p>
                <ul class="tag-list">
                    {tags.map(tag => (
                        <li>
                            <span class="tag" data-tag-name={tag}>
                                {tag}
                            </span>
                        </li>
                        ))
                    }
                </ul>

                {
                    !image &&
                    <SocialButton href={link} classList="absolute-icon">
                        <WorldIcon size="19" />
                    </SocialButton>
                }
            </article>
        ))
    }
</div>

<style>
    .repositories-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: [top] 1fr [middle-top] 1fr [middle-bottom] 1fr [bottom];
        gap: 2rem;
    }

    #repo1 {
        grid-row-start: top;
        grid-row-end: middle-top;
    }

    #repo2 {
        grid-row-start: top;
        grid-row-end: middle-bottom;
    }

    #repo3 {
        grid-row-start: middle-top;
        grid-row-end: bottom;
    }

    #repo4 {
        grid-row-start: middle-bottom;
        grid-row-end: bottom;
    }

    .repository {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-radius: .5rem;
        background: var(--clr-nav);
        border: 1px solid var(--clr-border);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 16px 2px rgb(0 0 0 / .15);
        padding: 1rem 1rem 1.5rem 1rem;
    }

    .repository > a {
        margin-bottom: .75rem;
        border-radius: .25rem;
        overflow: hidden;
    }

    .repository > a img {
        aspect-ratio: 16 / 9;
        transition: transform 150ms ease-in-out;
    }

    .repository > a img:hover {
        transform: scale(1.04);
    }

    :global(.absolute-icon) {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    .title {
        display: flex;
        align-items: center;
        gap: .35rem;
        margin-bottom: .5rem;
        font-weight: 600;
    }

    .title a {
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: text-decoration-color 100ms ease-in-out;
    }

    .title a:hover {
        text-decoration-color: currentColor;
    }

    .description {
        margin-bottom: 1rem;
        font-size: calc(var(--fs-200) - .05rem);
        opacity: .8;
    }

    .tag-list {
        margin-top: auto;
        display: flex;
        gap: 1.3rem;
        list-style: none;
    }

    .tag {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: calc(var(--fs-200) - .1em)
    }

    .tag::before {
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 100vw;
        background-color: #eee;
    }

    :root {
        --clr-tag-html: #ee8059;
        --clr-tag-css: #598aee;
        --clr-tag-js: #eee459;
        --clr-tag-next: #ddd;
        --clr-tag-tailwind: #0bacc9;
        --clr-tag-react: #56d1f3;
        --clr-tag-astro: #d83333;
        --clr-tag-typescript: #3178c6;
    }

    .tag[data-tag-name="HTML"]::before {
        background-color: var(--clr-tag-html);
    }

    .tag[data-tag-name="CSS"]::before {
        background-color: var(--clr-tag-css);
    }

    .tag[data-tag-name="JavaScript"]::before {
        background-color: var(--clr-tag-js);
    }

    .tag[data-tag-name="Next.js"]::before {
        background-color: var(--clr-tag-next);
    }

    .tag[data-tag-name="Tailwind CSS"]::before {
        background-color: var(--clr-tag-tailwind);
    }

    .tag[data-tag-name="React"]::before {
        background-color: var(--clr-tag-react);
    }

    .tag[data-tag-name="Astro"]::before {
        background-color: var(--clr-tag-astro);
    }

    .tag[data-tag-name="TypeScript"]::before {
        background-color: var(--clr-tag-typescript);
    }

    @media (width < 584px) {
        .tag-list {
            margin-bottom: .5rem;
        }
    }
</style>