---
import Background from '@/components/Background.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@fontsource-variable/onest';

import SpeedInsights from "@vercel/speed-insights/astro"

interface Props {
    title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta name="generator" content={Astro.generator} />

		<meta name="color-scheme" content="dark light">

		<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<meta name="theme-color" content="#202030">

		<link rel="canonical" href="https://picu.es/">
		<link rel="alternate" href="https://picu.es/" hreflang="x-default" />
		<meta name="apple-mobile-web-app-title" content="picu.es">
		<meta name="application-name" content="picu.es">
		<meta name="robots" content="index, follow">

		<SpeedInsights />

		<!-- HTML Meta Tags -->
        <title>{title}</title>
		<meta name="description" content={description}>

		<!-- Facebook Meta Tags -->
		<meta property="og:site_name" content="picu.es">
		<meta property="og:url" content="https://picu.es">
		<meta property="og:type" content="website">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content="/favicon/website.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="picu.es">
		<meta property="twitter:url" content="https://picu.es">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content="/favicon/website.png">
    </head>
    <body id="#top">
		<Header />
        <slot />
		<Footer />
		<Background />
    </body>
</html>

<style is:global>
	:root {
		--clr-text: #e4e4e4;
		--clr-text-secondary: #bbb;
		--clr-background: #05080c;
		--clr-nav: rgba(55 55 58 / .75);
		--clr-border: rgba(100 100 100 / 0.5);

		--clr-card-bg: #191d23;
		--clr-card-border: #292f37;

		--clr-footer-bg: #05070b;
		--clr-footer-border: #64646459;

		--clr-lightblue: #82aec9;
		--clr-lightblue-accent: #a4dcff;
		--clr-purple: #a667e4;
		--clr-yellow: #fef08ae6;

		--ff-base: 'Onest Variable', system-ui, sans-serif;
		--ff-mono: serif;

		--fs-200: clamp(0.9444rem, 0.9285rem + 0.0795vw, 1rem);
		--fs-300: clamp(1.0625rem, 1.0089rem + 0.2679vw, 1.25rem);
		--fs-400: clamp(1.1956rem, 1.0908rem + 0.5241vw, 1.5625rem);
		--fs-500: clamp(1.345rem, 1.1713rem + 0.8688vw, 1.9531rem);
		--fs-600: clamp(1.5131rem, 1.2479rem + 1.3259vw, 2.4rem);
		--fs-700: clamp(1.7rem, 1.3162rem + 2vw, 2.9rem);
		--fs-800: clamp(1.9144rem, 1.3713rem + 2.8vw, 3.4rem);
	}

	/* --------------- GENERAL STYLES --------------- */

	*, *::before, *::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: 8rem;
	}

	body {
		min-height: 100dvh;
		background-color: var(--clr-background);
		font-family: var(--ff-base);
		font-size: var(--fs-300);
		line-height: 1.5;
		color: var(--clr-text);
		overflow-x: clip;
	}

	img, svg {
		max-width: 100%;
		display: block;
	}

	main {
		width: min(70ch, 100% - 4rem);
		margin-inline: auto;
	}

	/* --------------- TYPOGRAPHY --------------- */

	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
		line-height: 1.2;
	}

	h1 { font-size: calc(var(--fs-800) + .75rem); }

	h2 { font-size: var(--fs-600); }

	h3 { font-size: calc(var(--fs-500) - .15rem); }

	h4 { font-size: var(--fs-300); }

	h5 { font-size: var(--fs-200); }

	h6 { font-size: calc(var(--fs-200) - .15rem); }

	a {
		text-decoration: none;
		color: var(--clr-text);
	}

	p { text-wrap: pretty; }

	/* --------------- MEDIA QUERIES --------------- */

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
